body {
  background-color: #C5C6C7;
  margin: 0;

}

.container {

}

#bio-menu {
  background-color: #1F2833;
  color: #66FCF1;

  height: auto;

  padding-top: 1vh;

}


.bio-menu-info {
  text-align: center;
  padding-bottom: 15vh;
}

#logo {
  border-radius: 50%
}



#project-menu {
  background-color: #C5C6C7;
  color: #45A29E;
  padding-top:1vh;
  height: 45.7vh;
  text-align: center;

}

@media only screen and (min-width: 814px) {
  #bio-menu {
    float: left;
    width: 30.2vw;
    height: 100vh;
  }
  .bio-menu-info {
    padding-top:  25vh;
  }
  #project-menu {
    float: right;
    width: 68vw;
    height: 100vh;
  }
  .project-menu-info  {
    display: inline-block;
    padding-left: 7vw /* If there are more than 2 projects keep this, else delete*/
  }
}
