body {
  background-color: #C5C6C7;
  margin: 0;

}

.container {

}

#bio-menu {
  background-color: #77A6F7;
  color: #FFF;

  height: auto;

  padding-top: 1vh;

}


.bio-menu-info {
  text-align: center;
  padding-bottom: 15vh;
}

#logo {
  border-radius: 50%
}



#project-menu {
  background-color: #FFF;
  color: #00887A;
  padding-top:1vh;
  height: 45.7vh;
  text-align: center;

}

.resume-button {
  background-color: #1F2833;
  color: #FFF;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid #008CBA;
  transition-duration: 0.5s;
  margin-bottom: 20px;
}

.resume-button:hover {
  background-color: #FFF;
  color: #77A6F7;
}

@media only screen and (min-width: 814px) {
  #bio-menu {
    float: left;
    width: 30.2vw;
    height: 100vh;
  }
  .bio-menu-info {
    padding-top:  25vh;
  }
  #project-menu {
    float: right;
    width: 68vw;
    height: 100vh;
  }
  .project-menu-info  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
