#project-card-div {
  color: #889bad;
  font-weight: bold;

}

#project-card-image {
  width: 100%;
  height: auto;
}

#project-card-description {

}

#project-card-title {

}

@media only screen and (min-width: 814px) {
  #project-card-image {
    width: 100%;
    height: auto;
    max-width: 800px;
  }
  #project-card-div {
    width: 25vw;
    float:left;
    padding-right: 2vw;
  }
}
