#project-card-div {
  color: black;
  font-weight: bold;

}
#project-card-div a:link {
  color: #00887A;
}

#project-card-div a:visited {
  color: #00887A;
}

#project-card-div a:hover {
  color: #77A6F7;
}

#project-card-image {
  width: 100%;
  height: auto;
}

#project-card-description {

}

#project-card-title {

}

@media only screen and (min-width: 814px) {
  #project-card-image {
    width: 100%;
    height: auto;
    max-width: 800px;
  }
  #project-card-div {
    width: 25vw;
    float:left;
    padding-right: 2vw;
  }
}
